body {
  width: 750px;
}

header {
  box-sizing: content-box;
  display: flex;
  padding: auto;
  position: relative;
  background-color: black;
  justify-content: space-between;
}

#logo1 {
  background-color: black;
  padding: 3px;
}

.itemMenu {
  list-style-type: none;
  justify-content: right;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 0;
  font-size: 16px;
  font-weight: 400;
  display: inline-flex;
  background-color: chartreuse;
}

.item {
  box-sizing: border-box;
  border: 2px solid purple;
  padding: 3px;
  margin: 5px;
  justify-content: right;
}

.pruebaPremium {
  background-image: url(https://image.freepik.com/foto-gratis/chica-bailando-hip-hop-ropa-elegante-sobre-fondo-degradado-salon-baile-luz-neon_155003-9249.jpg);
  display: inline-block;
}

.descargaMusica {
  list-style-type: none;
}
